Mule/ejemplo1/target/test-classes/ejemplo1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="9090" basePath="base" doc:name="HTTP Listener Configuration"/>
    <flow name="ejemplo1Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/ejemplo" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="nombre" value="ramon" doc:name="Variable"/>
        <set-session-variable variableName="nombre" value="chavo" doc:name="Session Variable"/>
        <logger message="#[nombre]" level="INFO" doc:name="LoggerVariable"/>
        <logger message="#[sessionVars.nombre]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
